<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="?=?"/>
        <listEntry value="archetypeGroupId=com.github.ywchang"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=com.connerhaney.client-management"/>
        <listEntry value="artifactId=com.connerhaney.client-management"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.connerhaney.client_management.com.connerhaney.client_management"/>
        <listEntry value="outputDirectory=/Users/connermacbookpro/Documents/First_Module_Project"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/6r/md1td2t14vx7yfq208bcsxw40000gn/T/m2e-archetypeGenerator12630109359619724949"/>
</launchConfiguration>
